<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        #uploadProgress {
            width: 25%;
            background-color: #ddd;
        }
        #uploadBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>

<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input onclick="move()" type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div id="uploadProgress">
    <div id="uploadBar"></div>
</div>

<script>
    function move() {
        var elem = document.getElementById("uploadBar");
        var width = 10;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1  + '%';
            }
        }
    }
</script>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>